:root {
  --bggradient: linear-gradient(to bottom, #fff, #eee2dc);
  --orange: #ffa500;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*::selection {
  background: var(--orange);
  color: #fff;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #fff;
  color: #123c69;
  position: relative;
  z-index: 1;
}
h1,
h2,
h3,
h4 {
  font-weight: 650;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style-type: none;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
.container-md {
  max-width: 100rem;
  margin: 0 auto;
}
@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
  .container-md {
    padding: 0 3rem;
  }
}
.header {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.contacts {
  flex-direction: row;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.cont-link:link,
.cont-link:visited {
  padding: 0.8rem 1rem;
  transition: all 300ms ease-in-out;
}
.cont-link.icon {
  font-size: 3rem;
}
a.cont-link:hover {
  color: #b888ff;
}
.first {
  background-color: #123c69;
  color: #fff;
}
.social-link1 {
  display: none;
}
.social-link {
  display: none;
}
.nav {
  padding: 16px 0px;
}
.nav.fix-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #123c69;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 999;
  padding: 0.5rem;
}
.nav.fix-nav .nav-link,
.nav.fix-nav .logo h1,
.nav.fix-nav .logo1 h1,
.nav.fix-nav .hamburger {
  color: #fff;
}
.nav.fix-nav .nav-link:hover,
.nav.fix-nav .logo:hover {
  color: #b888ff;
  font-weight: 450;
}
.nav.fix-nav .inq:hover {
  background-color: #ff652f;
  color: #123c69;
}

.nav.fix-nav.show .nav-link,
.nav.fix-nav.show .logo1 h1 {
  color: #123c69;
}
.nav.fix-nav.show .inq {
  color: #fff;
}
.nav.fix-nav.show {
  background-color: #123c69;
  color: #fff;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo h1 {
  font-size: 2.5rem;
}
.top-nav {
  display: none;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-item:not(:last-child) {
  margin-right: 0.5rem;
}
.nav-link:link,
.nav-link:visited {
  padding: 0.8rem 1rem;
  transition: all 300ms ease-in-out;
}
.nav-link.icon {
  font-size: 3rem;
}
.hamburger {
  color: #123c69;
  display: none;
}
.hero-img:hover {
  pointer-events: none;
}
a.nav-link {
  font-weight: 550;
  color: #123c69;
  border-radius: 5px;
}
a.nav-link:hover {
  color: #ac3b61;
  border-radius: 5px;
}
.navigation.container h1 {
  color: #123c69;
  border-radius: 5px;
}
.navigation.container h1:hover {
  color: #ac3b61;
  border-radius: 5px;
  transition: 300ms ease-in-out;
}
.container .inq {
  background-color: #ac3b61;
  color: #fff;
  border-radius: 5px;
}
.container .inq:hover {
  background-color: #123c69;
  color: #eee2dc;
  border-radius: 5px;
}
@media only screen and (max-width: 960px) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    max-width: 40rem;
    height: 100%;
    background-color: #fff;
    transition: all 500ms ease-in-out;
    z-index: 100;
    color: #fff;
  }
  .menu.show {
    left: 0;
  }
  .top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #272727;
    padding: 1rem 1.6rem;
  }
  .top-nav .logo h1 {
    color: #eee2dc;
  }
  .top-nav .logo h1:hover {
    color: #fff;
  }
  .top-nav .logo {
    color: #eee2dc;
    padding-left: 15px;
  }
  .top-nav .close {
    color: #fff;
    font-size: 3rem;
    padding: 1rem;
    cursor: pointer;
    transition: 300ms ease-in-out;
  }
  .top-nav .close:hover {
    color: #ac3b61;
    font-size: 3rem;
    padding: 1rem;
    cursor: pointer;
  }
  .hamburger {
    z-index: 999;
    display: block;
    font-size: 3rem;
    padding: 0.5rem;
    cursor: pointer;
  }
  .nav-list {
    flex-direction: column;
    align-items: start;
    padding: 1rem 1.6rem;
  }
  .nav-link:link,
  .nav-link:visited {
    display: block;
    font-size: 1.7rem;
    padding: 1rem 0;
    padding-left: 15px;
  }

  .nav-link.icon {
    display: none;
  }
  body.show::before {
    content: "";
    background: #eee2dc;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 4;
    display: none;
  }
  .nav.show {
    background-color: #eee2dc;
  }
  a.nav-link {
    color: #123c69;
  }
  a.nav-link:hover {
    color: #ac3b61;
  }
  .logo h1 {
    color: #ac3b61;
    transition: 300ms ease-in-out;
  }
  .logo h1:hover {
    color: rgb(177, 255, 167);
  }
  .inq {
    background-color: #ac3b61;
    color: #eee2dc;
    border-radius: 5px;
  }
  .inq:hover {
    background-color: #123c69;
    color: #eee2dc;
    border-radius: 5px;
  }
}
@media only screen and (max-width: 450px) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    max-width: 40rem;
    height: 100%;
    background-color: #fff;
    transition: all 500ms ease-in-out;
    z-index: 100;
  }
  .menu.show {
    left: 0;
  }
  .top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #123c69;
    padding: 1rem 1.6rem;
  }
  .top-nav .logo h1 {
    color: #fff;
  }
  .top-nav .logo h1:hover {
    color: #fff;
  }
  .top-nav .logo {
    color: #fff;
    padding-left: 15px;
  }
  .top-nav .close {
    color: #ffff;
    font-size: 3rem;
    padding: 1rem;
    cursor: pointer;
    transition: 300ms ease-in-out;
  }
  .top-nav .close:hover {
    color: #ac3b61;
    font-size: 3rem;
    padding: 1rem;
    cursor: pointer;
  }
  .hamburger {
    display: block;
    font-size: 3rem;
    padding: 0.5rem;
    cursor: pointer;
  }
  .nav-list {
    flex-direction: column;
    align-items: start;
    padding: 1rem 1.6rem;
  }
  .nav-link:link,
  .nav-link:visited {
    display: block;
    font-size: 1.7rem;
    padding: 1rem 0;
    padding-left: 15px;
  }
  .nav-link.icon {
    display: none;
  }
  body.show::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 4;
    display: none;
  }
  .nav.show {
    background-color: #fff;
  }
  .contacts {
    text-align: center;
    padding-top: 0.8rem;
    align-items: center;
    display: none;
    justify-content: center;
  }
  .cont-link:link,
  .cont-link:visited {
    padding: 0.8rem 1rem;
    transition: all 300ms ease-in-out;
  }
  .cont-link.icon {
    font-size: 3rem;
  }
  a.cont-link:hover {
    color: #123c69;
  }
  .socials {
    display: none;
  }
  .social-link1 {
    padding-top: 8px;
    display: block;
    justify-content: center;
    position: relative;
  }
  .social-link {
    display: block;
    justify-content: center;
    position: relative;
  }
  a.nav-link {
    color: #123c69;
  }
  a.nav-link:hover {
    color: #ac3b61;
  }
  .logo h1 {
    color: #ac3b61;
    transition: 300ms ease-in-out;
  }
  .logo h1:hover {
    color: rgb(177, 255, 167);
  }
  .inq {
    background-color: #ac3b61;
    color: #eee2dc;
    border-radius: 5px;
  }
  .inq:hover {
    background-color: #123c69;
    color: #eee2dc;
    border-radius: 5px;
  }
}
/* Hero Area */
.hero,
.glide__hero,
.banner {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: var(--grey-alt);
}

.banner img {
  position: absolute;
  bottom: 0;
}

.banner img.special_01 {
  width: 100rem;
  right: -10%;
}
.banner img.special_02 {
  width: 100rem;
  right: -10%;
}
.banner img.special_03 {
  width: 100rem;
  right: -10%;
}

.banner-content .discount {
  color: #b888ff;
  font-size: 6rem;
  font-weight: 700;
  display: block;
  line-height: 1;
  text-shadow: 3px 3px 0 #1c3334, 4px 4px 0 #1c3334;
}
.banner-content .btn {
  display: inline-block;
  background-color: #fa4444;
  padding: 1.2rem 4rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 3%;
  border-radius: 4px;
}
.banner-content .btn:hover {
  background-color: #123c69;
  color: #fff;
  transition: 300ms ease-in-out;
}
.banner-content {
  position: absolute;
  top: 40%;
  transform: translate(25%, -50%);
  z-index: 9;
}

.banner-content span {
  display: inline-block;
  font-size: 3rem;
  color: var(--grey);
  margin-bottom: 1rem;
}

.banner-content h1 {
  color: #ff652f;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.banner-content h2 {
  color: #ff652f;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1260px) {
  .hero,
  .glide__hero,
  .banner {
    height: 70vh;
  }

  .banner img.special_01 {
    width: 60rem;
  }
  .banner img.special_02 {
    width: 70rem;
  }
  .banner img.special_03 {
    width: 70rem;
  }
}

@media only screen and (max-width: 996px) {
  .banner-content {
    width: 60%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .banner img.special_01 {
    left: 50%;
    transform: translateX(-50%);
    width: 50rem;
  }

  .banner img.special_02 {
    left: 50%;
    transform: translateX(-50%);
    width: 50rem;
  }
  .banner img.special_03 {
    left: 55%;
    transform: translateX(-50%);
    width: 50rem;
  }
}

@media only screen and (max-width: 768px) {
  .banner-content {
    width: 90%;
  }
}

@media only screen and (max-width: 568px) {
  .banner-content h1 {
    font-size: 2rem;
  }
  .banner-content .discount {
    font-size: 4rem;
  }

  .banner-content h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  .banner-content span {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .banner-content .btn {
    padding: 0.8rem 2rem;
    font-size: 1.4rem;
  }
}
@media only screen and (orientation: landscape) and (max-width: 900px) {
  .hero,
  .banner {
    margin-top: 41px;
    height: 100vh;
  }

  .glide__hero {
    height: 100vh;
  }
  .banner-content {
    width: 90%;
  }
  .banner-content h1 {
    font-size: 2rem;
  }
  .banner-content .discount {
    font-size: 4rem;
  }

  .banner-content h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  .banner-content span {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .banner-content .btn {
    padding: 0.8rem 2rem;
    font-size: 1.4rem;
  }
  .banner img.special_01 {
    top: 0;
    left: 80%;
    width: 50rem;
  }

  .banner img.special_02 {
    top: 0;
    left: 80%;
    width: 50rem;
  }
  .banner img.special_03 {
    top: 0;
    left: 85%;
    width: 50rem;
  }
}

@media only screen and (orientation: portrait) and (min-width: 750px) {
  .hero {
    height: 32.5vh;
  }
  .banner-content {
    height: 10vh;
  }
  .banner-content h1 {
    font-size: 2rem;
  }
  .banner-content .discount {
    font-size: 5rem;
  }

  .banner-content h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  .banner-content span {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .banner-content .btn {
    padding: 0.8rem 2rem;
    font-size: 1.4rem;
  }
  .banner img.special_01 {
    top: 0;
    left: 80%;
    width: 50rem;
  }

  .banner img.special_02 {
    top: 0;
    left: 80%;
    width: 50rem;
  }
  .banner img.special_03 {
    top: 0;
    left: 85%;
    width: 50rem;
  }
}
.section {
  background-color: #fd6a02;
  color: #fff;
  margin: auto;
  text-align: center;
  padding-top: 40px;
}
.section h1 {
  font-size: 36px;
  font-weight: 600;
}
.testimonial-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
.testimonial {
  padding: 10px;
  position: relative;
  background-color: #fff3f3;
  color: #272727;
  box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.4);
  transition: all 300ms ease-in-out;
  border-radius: 4px;
  text-align: center;
}

.testimonial h3 {
  font-weight: 600;
  margin: 10px 0;
}
.testimonial h4 {
  font-weight: 300;
  margin: 10px 0;
}
.testimonial:hover {
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.75);
}

@media only screen and (orientation: portrait) and (min-width: 768px) {
  .testimonial-center {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .testimonial h3 {
    font-weight: 600;
    margin: 10px 0;
    font-size: 13px;
  }
  .testimonial h4 {
    font-weight: 300;
    margin: 10px 0;
    font-size: 9px;
  }
}
.new {
  background-color: black;
  color: #ac3b61;
  text-overflow: ellipsis-word;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

@media only screen and (orientation: landscape) and (max-width: 850px) {
  .testimonial-center {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .testimonial h3 {
    font-weight: 600;
    margin: 10px 0;
    font-size: 13px;
  }
  .testimonial h4 {
    font-weight: 300;
    margin: 10px 0;
    font-size: 9px;
  }
}
.new {
  background-color: black;
  color: #ac3b61;
  text-overflow: ellipsis-word;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}
.contact .heading {
  margin-top: 3rem;
}
.contact .row {
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
  width: 80%;
}

.contact .row form {
  flex: 1 1 50rem;
  padding: 2rem;
  box-shadow: 0px 2px 26px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 2px 26px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 26px -4px rgba(0, 0, 0, 0.75);
  border-radius: 0.5rem;
}

.contact .row form .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.contact .row form .inputBox input,
.contact .row form textarea {
  font-family: "Poppins", sans-serif;
  width: 49%;
  margin: 1rem 0;
  padding: 1rem;
  font-size: 1.3rem;
  color: #333;
  background: #ececec;
  text-transform: none;
  border: none;
  outline: none;
}
.contact .row form textarea {
  font-family: "Poppins", sans-serif;
  height: 15rem;
  resize: none;
  width: 100%;
  border: none;
  outline: none;
}
.contact h1 {
  font-size: 3rem;
  font-weight: 500;
}
.contact h4 {
  font-size: 1.8rem;
  font-weight: 500;
}

.contact .btn {
  cursor: pointer;
  color: #123c69;
  border: 3px solid #123c69;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color: transparent;
  padding: 10px;
  outline: none;
  border-radius: 4px;
  transition: all 0.5s ease;
}
.contact .btn:hover {
  color: #fff;
  background-color: #123c69;
}
.review .heading {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  font-size: 4rem;
  font-weight: 500;
  color: #fff;
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.review .review-slider {
  padding-bottom: 2rem;
}
.swiper-slide {
  padding-bottom: 3rem;
}
.swiper-container {
  width: 90%;
}
.review .box {
  margin-top: 5px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  height: 35rem;
  transition: 500ms ease-in;
  background: #fff;
}

.review .box img {
  height: 20rem;
  width: 50rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

.review .box h3 {
  color: #333;
  font-size: 2.5rem;
  font-weight: 500;
}

.review .box p {
  color: #666;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.review .box:hover {
  cursor: pointer;
  transition: 0.5s ease;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  top: 5px;
}
.condo {
  background-image: url("/images/h&lcover.png");
}
